* {
  box-sizing: border-box;
}

body{-webkit-transition: 3s;
  transition: 2s;
}

 .containerlogin {
    max-width: 100%;
    margin:5% 0 9%;
    display:flex;
    flex-direction:row-reverse;
  }

  .containerlogin::after {
    content: "";
    clear: both;
    display: table;
  } 
  .login{border:none;
    width: 50%;
  }

    .loginclass{
      box-shadow: 5px 8px 16px 5px rgba(121, 118, 118, 0.2);
      /* border:gray solid 1px; */
      padding: 20px 30px;
      width:85%;
      float:right;
      border-radius: 10px;
    }

    .login , .login p {
      text-align: center;
      line-height:200%;
    }
  
    .login p{
      font-size:1.79vw;
    font-weight:900;  
  }

  input , input[type="email"]{
    width:95%;
    padding: 1% 2%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    -webkit-transition: 1s;
    transition: 1s;
    outline: none;
    border-radius:4px;
    Margin-top:3%;
    
  }

  input:active {
    background-color:rgba(85, 85, 85, 0.925)
  }

  input:focus {
    border: 2px solid rgba(85, 85, 85, 0.925);
  }

  .login_button {
    display:block;
    width:60%;
    Margin:5% auto ;
    text-align: center;
    Background-color: #FF2B2B;
    color:White; 
    font-size:1.324vw;
    border-radius:8px;
    -webkit-transition: 1s;
    transition: 1s;

}

.login_button:hover{
  Background-color: #000;
  color: #fff;
}

.forgot {
  margin:5% 2.5%;
  font-size:1.05vw;
  text-align:right;
}

  .forgot a{
    color:#2f2d2d;
  }

  .forgot a:hover{
    font-weight:bold;
    text-decoration:none;
  }


  .facebook, .twitter{
    background-color:#2f2d2d86;
    width:80%;
    Margin:3.5% auto;
    text-align: center;
    border-radius:8px;
    
    -webkit-transition: 1s;
    transition: 1s;
  }

  .facebook a {
    display:block;
    width:100%;
    color:white;
    text-decoration:none;
    background: #ff2b2b;
    border-radius: 6px;
  }

  .twitter a {
    background-color:#000;
    display:block;
    width:100%;
    color:white;
    text-decoration:none;
    border-radius: 6px;

  }

  .facebook:hover {
    background-color:#000;
    
  }

  .twitter:hover  {
    background:#ff2b2b;
    color: #fff;
  }
  
  .terms_conditions p{
    font-size:1.05vw;
    font-weight:100;
  }

  .terms_conditions p a{
    color:#2f2d2dab;
    text-decoration:none;
  }
  .terms_conditions p a:hover{
    color: #2f2d2d;
    font-weight:bold;
  }

  .containerlogin .content {
    width: 50%;
    height:inherit;
    /* border:gray solid 1px; */
    border-radius: 10px;
    }

  .highlight p{
    float:right;
    margin-top:20%;
    padding-right:10%;
    font-size: 1.65vw;
    color:#FF2B2B;
    font-weight:bold;
    text-align:center;
    -webkit-transition: 1s;
    transition: 1s;
    }

    .content img {
      max-width: 80%;
      height: auto;
      float:left;;
      -webkit-transition: 1s;
      transition: 1s;
    }
    
@media only screen and (max-width:600px){

    .containerlogin .content {
      border:none;
      width:100%;
    }

    .containerlogin {flex-direction:column-reverse;}

    .login{
      width: 100%;
    }

      .loginclass{
        /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
        width:90%;
        float:none;
        margin:auto;
        margin-top:10%

      }

    .content img{
     margin-left:0%;
      object-fit:cover;
      /* object-position:5x 0%; */
    }

    .containerlogin{
      width:100%;
    }

    .login .loginclass > p:first-child{
      font-size:150%;
  }

  .highlight p {
    font-size:120%;
  }
}