* {
  box-sizing: border-box;
}

 .containerlogin {max-width: 1500px;
            margin:3.5% auto;
            display:flex;
            flex-direction:row-reverse;
            }

  .containerlogin::after {
    content: "";
    clear: both;
    display: table;
  } 
  .login{border:none;
    width: 50%;}

    .login , .login p {
      text-align: center;
      line-height:200%;}
  
    .login p{
      font-size:1.79vw;
    font-weight:900;  
  }

  input {
    width:70%;
    padding: 1% 2%;
    border: 1px solid #ccc;
    border-radius:4px;
    Margin:2.5%
  }

  .login_button {
    display:block;
    width:70%;
    Margin:2.5% auto ;
    text-align: center;
    Background-color: #FF2B2B;
    color:White; 
    font-size:1.324vw;
}
  .forgot {
    margin:2.5% 15% 0 0;
    font-size:1.05vw;
    text-align:right;
}

  .facebook, .twitter{
    background-color:none;
    width:70%;
    Margin:3.5% auto;
    text-align: center;
    color:#6775F3;
    border-radius:4px;
    border:solid 1px rgba(128, 128, 128, 0.527)
  }

  .facebook a, .twitter a{
    display:block;
    width:100%
  }
  
  .terms_conditions p{
    font-size:1.05vw;
    font-weight:100;
  }

  .containerlogin .content {
    width: 50%;
    height:inherit;
    border:gray solid 1px;
    border-radius: 10px;
  }

  .highlight p{
    float:right;
    margin-top:20%;
    padding-right:10%;
    font-size: 1.65vw;
    color:#FF2B2B;
    font-weight:bold;
    text-align:center;}

    

    .content img {
      max-width: 80%;
      max-height: 46.5%;
      margin-left:5%;
      /* padding-right:10%; */
      float:left;;
      
      /* object-fit:cover; */

    }
  @media only screen and (max-width:800px){

    .containerlogin .content {border:none;}

    .content img{
     min-width:300px;
     height:10px;
     margin-left:0%;
      object-fit: cover;
      object-position:5px 10%;
    }

    .containerlogin{
      width:100%;
    }

  }
