<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    <footer>
        <div class="footer-bg">
          <div class="container">
              <div class="row">
                  <div class="col-md-3 col-sm-12 col-12">
                    <img src="images/logo.png" class="logo-footer">
                  </div>
                  <div class="col-md-3 col-sm-3 col-4">
                    <div class="quick-links">
                      <h5>Quick Links</h5>
                      <div><a href="index.html">Home</a></div>
                      <div><a href="about-us.html">About Us</a></div>
                      <div><a href="tracking.html">Tracking</a></div>
                      <div><a href="contact.html">Contact</a></div>
                      <div><a href="sign-up.html">Sign Up</a></div>
                      <div><a href="login.html">Login</a></div>
                      <div><a href="admin-dashboard.html">Admin Dashboard</a></div>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-4 col-4">
                    <div class="contact-footer">
                      <h5>Contact Us</h5>
                      <div class="cont-footer">
                          <i class="fas fa-map-marker-alt"></i> <p>
                          Kodehauz
                          No. 38 AfahaUqua Road Eket,
                          <br>Akwa Ibom State
                        </p>
                      </div>
                      <div class="cont-footer">
                          <i class="fas fa-phone"></i>
                          <p>
                          08064786137, 09830587
                        </p>
                      </div>
                      <div class="cont-footer">
                          <i class="fas fa-envelope"></i>
                           <p>
                          info@Kodehauz.com
                        </p>
                      </div>
                     
                    </div>
                  </div>
                  <div class="col-md-2 col-sm-6 col-6 ph-scre">
                      <div class="">
                        <h5>Get in Touch</h5>
                        <div class="social-media-icon">
                          <a href="#" class="fb-icon"><i class="fab fa-facebook-f"></i></a>
                          <a href="#" class="twitter-icon"><i class="fab fa-twitter"></i></a>
                          <a href="#" class="instagram-icon"><i class="fab fa-instagram"></i></i></a>
                         
                        </div>
                      </div>
                  </div>
              </div>
          </div>
        </div>
        <div class="footer-designer">
            <p class="text-center">	&copy; Copyright 2019 | Kodehauz </p>
        </div>
      </footer>
</body>
</html>